.id-card {
    border: 1px solid #0e0e0e;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    line-height: 67%;
}

.id-card img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}